# Python
__pycache__/
*.pyc

# Environment files
.env
.env.*
.envrc

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Editor directories
.vscode/
.idea/

# Data caches / results
data/data_cache/
data/results/
results/
portfolio_store/
signals_dict.pkl

# Logs
*.log

#temp files
temp.py
test.py
temp.ipynb